flask
flask-cors
flask-mail
flask-sqlalchemy
flask-migrate
flask-jwt-extended
flask-limiter
flask-cors
authlib
mysql-connector-python
PyMySQL
cryptography
python-dotenv
requests
qrcode[pil]
deepface
opencv-python-headless
pandas
openpyxl
reportlab
Pillow
tf-keras
bcrypt
SQLAlchemy
cloudinary
gunicorn
