flask
flask-cors
flask-mail
flask-sqlalchemy
flask-migrate
flask-jwt-extended
flask-limiter
flask-cors
authlib
mysql-connector-python
PyMySQL
cryptography
python-dotenv
requests
qrcode[pil]
opencv-python-headless
pandas
openpyxl
reportlab
Pillow
bcrypt
SQLAlchemy
cloudinary
gunicorn
tensorflow-cpu==2.16.1
tf-keras==2.16.0
deepface==0.0.93
